/* THIS IS FOR ALL THE MEDIA QUERIES */
/* MINIMUM RES */

@media (min-width: 48em) {
	.header li {
		float: left;
	}
	.header li a {
		padding: 20px 30px;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
}

/* QUERIES FOR THE BACKGROUND TYPOGRAPHY*/
@media (max-width: 900px) {
	.background__text {
		font-size: 4rem;
		font-weight: 100;
		margin: 0;
	}
	.background__textlight {
		font-size: 1rem;
	}
}

@media (max-width: 500px) {
	.background__text {
		font-size: 3.6rem;
	}
}
/*QUERIES FOR RESPONSIVE FLEX */

@media (max-width: 800px) {
	.second__flex,
	.third__flex,
	.fourth__flex,
	.sixth__flex,
	.seventh__flex,
	.footer__flex {
		flex-direction: column;
	}

	.background {
		background-image: url(../img/wallpaper_2.png);
	}

	.fuller {
		font-size: 10px;
	}

	.third__image,
	.eight {
		display: none;
	}
}
